@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Barlow+Condensed:wght@200&display=swap');


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;


}
.box{
    margin-top: 20px;
    border: 2px solid black;
    width: 600px;
    margin: auto;
    padding: auto;
}
.movieImage{
    margin-top: 50px;
    object-fit: cover;
    width: 200px;
   height: auto;
    border: 4px solid black;
    margin-left: 30%;
}

.movieContainer{
    display:inline-block;
    text-align: center;
    margin: 15px;

}
.movie{
    text-align: center;
}

.singleMovie{
    width: 50%;
    margin: auto;
    text-align: center;


}


p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px
    ;
    text-align:center;
}
.movie h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
    text-align: center;
}
.trivia{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
}
h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 2vw;
    text-align: center;
    padding-top: 30px;
}
.navigation{
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px 50px;
    margin: 3px;
    font-size:20px;
    border: 1px solid white;
    color: white;
    background-color: black;


}

.navDiv{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.searchForm{
    padding-top: 50px;
    margin: 30px;
    text-align: center;

}

button{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
 color: white;
 border: 2px solid #4CAF50
}
